<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>回复机构</title>
    <link rel="stylesheet" href="/html_css_js_2/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/html_css_js_2/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="/html_css_js_2/css/style.css">
    <link rel="shortcut icon" href="/html_css_js_2/images/school_logo.jfif" />
    <script src="/html_css_js_2/vendors/base/vendor.bundle.base.js"></script>
    <script src="/html_css_js_2/vendors/chart.js/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/html_css_js_2/js/off-canvas.js"></script>
    <script src="/html_css_js_2/js/hoverable-collapse.js"></script>
    <script src="/html_css_js_2/js/template.js"></script>
    <script src="/html_css_js_2/js/todolist.js"></script>
    <script src="/html_css_js_2/js/chart5.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12  grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">回复部门</h4>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>